
body {
  padding: 40px 0 60px;
  background-color: rgb(221, 239, 240);
 }

 button {
  padding: 10px 20px 20px 10px;
  color: white;
  background-color: #6972c7;
  font-size: 20px;
  text-align: center;
  border-radius: 5px;
  font-style: normal;
  width: auto;
  border: 2px solid #5da372;
  border-width: 1px 1px 3px;
  margin-bottom: 30px;
  margin-top: 20px;
  margin-right: 10px;
}

.header {
  max-width: 50px;
  margin: auto;
}

/*************************
Media Queries
*************************/

@media (min-width: 480px) {
/* For mobile phones: */
[class*="col-"]
.col-1 {width: 20%;}
.col-2 {width: 45%;}
.col-3 {width: 35%;}
}

@media only screen and (min-width: 800px) {
 /* For tablets: */
 .col-s-1 {width: 20%;}
 .col-s-2 {width: 40%;}
 .col-s-3 {width: 40%;}
}

@media only screen and (min-width: 1024px) {
 /* For desktop: */
 .col-1 {width: 20%;}
 .col-2 {width: 40%;}
 .col-3 {width: 40%;}
}

/*************************
Clearfix
*************************/

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}
